.vscode/
.vscode-test/
out/
out-test/
src/
node_modules/
*.vsix
scripts/
tsconfig.json
typedoc.json
.github/
.gitignore
.DS_Store
assets/
!assets/icon.png
!assets/screenshot.png
!assets/logo.png
frontend/
templates/
!dist/
!resources/